DATABASE_URL=postgresql://postgres.voolezxuekgtwphxcdgi:<contrasenia>@aws-0-us-east-1.pooler.supabase.com:5432/postgres
SUPABASE_URL=https://<>.supabase.co
SUPABASE_ANON_KEY=<key>
SUPABASE_SERVICE_ROLE_KEY=<key>
# AWS_PROFILE=hosted_storage
# AWS_REGION=us-west-2
# AWS_BUCKET_NAME=abacusai-apps-a6713351df86617322966ae2-us-west-2
# AWS_FOLDER_PREFIX=46635/
ABACUSAI_API_KEY=<key-de-abacus>
WEB_APP_ID=<ddfsd>
NOTIF_ID_NEW_REGISTRATION_SUBMISSION=<sdfasdf>
